<mat-card *ngIf="nuggetIds && nuggetIds.length; else loading">
    <mat-card-header>
        <div class="nugget-view" [innerHTML]="currentDisplayPassageString"></div>
    </mat-card-header>
    <mat-card-actions>
        <mat-toolbar color="secondary">
            <mat-toolbar-row>
                <button mat-button (click)="showPrevNugget()">
                    <mat-icon>skip_previous</mat-icon>
                </button>
                <button mat-button (click)="showRandomNugget()">
                    <mat-icon>shuffle</mat-icon>
                </button>
                <button *ngIf="!showingChapter" mat-button (click)="showChapter()">
                    <mat-icon>menu_book</mat-icon>
                </button>
                <button *ngIf="showingChapter" mat-button (click)="backToPassage()">
                    <mat-icon>undo</mat-icon>
                </button>
                <button mat-button (click)="showNextNugget()">
                    <mat-icon>skip_next</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </mat-card-actions>
    <mat-card-content [style.height.px]="cardContentHeight" class="nugget-view scrollable-card-content"
        *ngIf="currentFormattedPassageText; else loadingPsgTxt" 
        [innerHTML]="currentFormattedPassageText">
    </mat-card-content>
</mat-card>
<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>
<ng-template #loadingPsgTxt>
    <mat-spinner></mat-spinner>
    Loading passage <div [innerHTML]="currentDisplayPassageString"></div> ...
</ng-template>
    