<div *ngIf="nuggetIds && nuggetIds.length; else loading">
    <button mat-button (click)="showPrevNugget()">
        <mat-icon>skip_previous</mat-icon>
        Prev
    </button>
    <button mat-button (click)="showNextNugget()">
        Next
        <mat-icon>skip_next</mat-icon>
    </button>
    <br>
    ({{(currentNuggetIndex + 1)}} of {{nuggetIds.length}})<br>
    Currently selected: {{nuggetIds[currentNuggetIndex]}}.
</div>
<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>
