/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
    font-family: Clan,'Helvetica Neue',Helvetica,Arial,sans-serif !important;
    font-style: normal !important;
}

.wordsOfChrist {
	color: #FF0000;
}

.verse_num {
	font-weight: normal;
	font-size: 0.75em;
}
.nugget-view {
	font-weight: bold;
	line-height: 1.25em;
	font-size: 1.9em;
	height: 100%;
}

.bible_version {
	/* color: rgba(183, 0, 255, 0.219); */
	color: darkblue
}
